/* #portfolio {
    background-color: rgb(95, 21, 36);
    color: white;
}

.w3-head-all {
    background-color: rosybrown;
}

.gallery-wthreegrids {
    background-color: royalblue;
}

.gallery-agileinfo-row{
    background-color: goldenrod;
} */